body{
  background-color: lightseagreen
}
.container {
  margin: 20px auto;
  padding: 20px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-input {
  display: flex;
  margin-bottom: 10px;
}

.task-input input {
  flex-grow: 1;
  padding: 5px;
}

.task-input button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
